basePath: /
definitions:
  handler.AddPackSizeRequest:
    properties:
      size:
        example: 750
        type: integer
    type: object
  handler.CalculateRequest:
    properties:
      order:
        example: 501
        type: integer
    type: object
  handler.CalculateResponse:
    properties:
      order:
        example: 501
        type: integer
      packs:
        additionalProperties:
          type: integer
        example:
          "250": 1
          "500": 1
        type: object
      total_items:
        example: 750
        type: integer
      total_packs:
        example: 2
        type: integer
    type: object
  handler.ErrorResponse:
    properties:
      error:
        example: invalid request
        type: string
    type: object
host: gymshark-challenge.moureau.dev
info:
  contact:
    email: luiz@moureau.dev
    name: Luiz Moureau
  description: API for calculating optimal pack sizes for customer orders
  title: RE Partners Pack Calculator API
  version: "1.0"
paths:
  /api/calculate:
    post:
      consumes:
      - application/json
      description: Calculate the minimum number of packs needed to fulfill an order
      parameters:
      - description: Order quantity
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handler.CalculateRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/handler.CalculateResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: Calculate optimal pack breakdown
      tags:
      - packs
  /api/pack-sizes:
    get:
      description: Retrieve all configured pack sizes
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              type: integer
            type: array
      summary: Get all pack sizes
      tags:
      - pack-sizes
    post:
      consumes:
      - application/json
      description: Add a new pack size to the available options
      parameters:
      - description: Pack size to add
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/handler.AddPackSizeRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: Add a new pack size
      tags:
      - pack-sizes
  /api/pack-sizes/{size}:
    delete:
      description: Remove a pack size from the available options
      parameters:
      - description: Pack size to delete
        in: path
        name: size
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: Delete a pack size
      tags:
      - pack-sizes
  /healthz:
    get:
      description: Check if the API is running
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health check
      tags:
      - health
swagger: "2.0"
